<?xml version="1.0"?>

<launch>
  <arg name="world_name" defalut="V"/>

  <node name="tf_base2camera" pkg="tf2_ros" type="static_transform_publisher" args="0.01 0 0.02 -1.57079633 0 -1.57079633 cf1/base_link cf1/camera_link" />
  <node name="tf_map2odom" pkg="tf2_ros" type="static_transform_publisher" args="3 -2 0 -3.14 0 0 map cf1/odom" />

  <node name="detectmarkers" pkg="project" type="detectmarkers.py" />
  <node name="displaymarkers" pkg="project" type="displaymapmarkers.py" args="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json"/>
  <node name="localization" pkg="project" type="localization.py" />
  <node name="base_footprint" pkg="project" type="footprint.py" />

  <!-- <node name="path_execution" pkg="project" type="path_execution.py" output="screen" /> -->

  <node name="state_machine" pkg="project" type="state_machine.py" output="screen" args="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json"/>
</launch>